In [66]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [67]:
df=pd.read_csv('homeprices.csv')
df.columns

Index(['town', 'area', 'price'], dtype='object')

In [68]:
dfMerged=pd.concat([df,pd.get_dummies(df.town)],axis='columns')
dfMerged

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000                1            0             0
1   monroe township  3000  565000                1            0             0
2   monroe township  3200  610000                1            0             0
3   monroe township  3600  680000                1            0             0
4   monroe township  4000  725000                1            0             0
5      west windsor  2600  585000                0            0             1
6      west windsor  2800  615000                0            0             1
7      west windsor  3300  650000                0            0             1
8      west windsor  3600  710000                0            0             1
9       robinsville  2600  575000                0            1             0
10      robinsville  2900  600000                0            1             0
11      robinsville  3100  620000                0            1             0
12      robinsville  3600  695000                0            1             0

In [69]:
dfMerged=dfMerged.drop(['town'],axis='columns')
dfMerged

    area   price  monroe township  robinsville  west windsor
0   2600  550000                1            0             0
1   3000  565000                1            0             0
2   3200  610000                1            0             0
3   3600  680000                1            0             0
4   4000  725000                1            0             0
5   2600  585000                0            0             1
6   2800  615000                0            0             1
7   3300  650000                0            0             1
8   3600  710000                0            0             1
9   2600  575000                0            1             0
10  2900  600000                0            1             0
11  3100  620000                0            1             0
12  3600  695000                0            1             0

In [70]:
dfMerged=dfMerged.drop(['west windsor'],axis='columns')

In [71]:
dfMerged

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

In [72]:
from sklearn import linear_model

In [73]:
dfMerged.columns

Index(['area', 'price', 'monroe township', 'robinsville'], dtype='object')

In [74]:
model=linear_model.LinearRegression()
model.fit(dfMerged[['area', 'monroe township', 'robinsville']],df.price)

LinearRegression()

In [75]:
model.predict(dfMerged[['area', 'monroe township', 'robinsville']])

array([539709.7398409 , 590468.71640508, 615848.20468716, 666607.18125134,
       717366.15781551, 579723.71533005, 605103.20361213, 668551.92431735,
       706621.15674048, 565396.15136531, 603465.38378844, 628844.87207052,
       692293.59277574])

In [76]:
model.score(dfMerged[['area', 'monroe township', 'robinsville']],df.price)

0.9573929037221871

In [77]:
model.predict([[3400,0,0]])

array([681241.66845839])

In [78]:
model.predict([[2800,0,1]])

array([590775.63964739])

### use sklearn one hot encoding instead of pandas

In [79]:
from sklearn.preprocessing import OneHotEncoder,LabelEncoder

In [105]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [107]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [109]:

df_le=df.copy()
df_le.town=le.fit_transform(df_le.town)

In [112]:
df_le

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [113]:
df_le.columns

Index(['town', 'area', 'price'], dtype='object')

In [115]:
X=df_le[['town', 'area']].values

In [119]:
y=df_le.price

In [120]:
type(y)

pandas.core.series.Series

In [125]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()

In [127]:
X=ohe.fit_transform(df_le[['town']]).toarray()

In [129]:
X=X[:,1:]

In [130]:
X

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [131]:
df_le

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [135]:
df_le=df_le[['area','price']].join(pd.DataFrame(X))
type(df_le)

pandas.core.frame.DataFrame

In [136]:
df_le

    area   price    0    1
0   2600  550000  0.0  0.0
1   3000  565000  0.0  0.0
2   3200  610000  0.0  0.0
3   3600  680000  0.0  0.0
4   4000  725000  0.0  0.0
5   2600  585000  0.0  1.0
6   2800  615000  0.0  1.0
7   3300  650000  0.0  1.0
8   3600  710000  0.0  1.0
9   2600  575000  1.0  0.0
10  2900  600000  1.0  0.0
11  3100  620000  1.0  0.0
12  3600  695000  1.0  0.0

In [137]:
from sklearn import linear_model
model = linear_model.LinearRegression()

In [138]:
df_le.columns

Index(['area', 'price', 0, 1], dtype='object')

In [140]:
model.predict(df_le[['area', '0', '1']],df_le.price)

KeyError: "['1', '0'] not in index"